<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <title>Document</title>
</head>
<body class="flex flex-col gap-2 h-dvh p-4"> 
  
    <%- include("../includes/header.ejs")  %>

      <main class="border p-4 h-full flex flex-col gap-4">
        <%- include("../includes/title.ejs")  %>
